name: Build & Release pmcli

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build pmcli
        run: cargo build --release

      - name: Package pmcli-version.tar.gz
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          VERSION=${VERSION#v}
          mkdir -p release
          TAR="pmcli-$VERSION.tar.gz"
          TMP=$(mktemp -d)
          cp target/release/pmcli $TMP/pmcli
          tar -czvf release/$TAR -C $TMP pmcli
          rm -rf $TMP

      - name: Import GPG private key
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        run: |
          echo "$GPG_PRIVATE_KEY" | gpg --batch --import
      - name: Sign release artifact
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          VERSION=${VERSION#v}
          TAR="pmcli-$VERSION.tar.gz"
          gpg --batch --yes --pinentry-mode loopback --passphrase "$GPG_PASSPHRASE" --armor --output release/$TAR.asc --detach-sign release/$TAR

      - name: Upload release artifacts
        uses: softprops/action-gh-release@v1
        with:
          files: |
            release/*.tar.gz
            release/*.tar.gz.asc
        env:
          GITHUB_TOKEN: ${{ secrets.termux }}
